*{
	padding:0;
	margin:0;
	border:none;
	list-style-type:none;	
}
body{
	background:#f5f5f5;
	font-family: "微软雅黑";
}
a{
	text-decoration:none;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
}
/*导航内容样式*/
.head{
	height:90px;
	background-color:#323339;
	line-height:90px;
	min-width:1200px;
}
.top{
	width:1200px;
	margin:0 auto;
}
.top>div>a>img{
	margin-top:20px;
	margin-right:30px;
}
.ul>li{
	float:left;
	margin-right:40px;
}
.ul a{
	font-size:16px;
	color:#fff;
}
.ul span{
	color:#fb6c03;
	padding-bottom:34px;
	border-bottom:2px #fb6c03 solid;
}
.ul a:hover{
	color:#fb6c03;
}
.ship{
	width:130px;
	height:90px;
	background-color:#ff9749;
	text-align:center;
	margin-right:50px;
}
.ship a{
	font-size:16px;
	color:#fff;
	background:url(../img/ship.png) no-repeat left center;
	padding-left:20px;
}
.ship:hover{
	background-color:#fb6c03;
}
.enter{
	font-size:14px;
}
.enter a{
	color:#fff;
}
.enter span{
	color:#fff;
	margin:0 10px;
}
.enter a:hover{
	color:#fb6c03;
}
/*导航内容样式end*/

/*右侧固定图标内容样式*/
.pg{
	display: none;
	position:fixed;
	z-index:10;
	right:60px;
	top:50px;
}
.gud{
	width:60px;
	position:fixed;
	right:0;
	z-index:10;
	text-align:center;
	padding-top:20px;
}
.gud a{
	display:block;
	width:60px;
	height:30px;
	font-size:12px;
	color:#fb6c03;
	background:url(../img/message.png) #fff no-repeat center 20px;
	padding-top:50px;
}
.gud a:hover{
	background:url(../img/message.png) #e3e3e3 no-repeat center 20px;
}
.gud a:first-child{
	background:url(../img/wechat.png) #fff no-repeat center 20px;
}
.gud a:first-child:hover{
	background:url(../img/wechat.png) #e3e3e3 no-repeat center 20px;
}
.gud a:last-child{
	background:#fb6c03;
}
.gud a:last-child:hover{
	background:#fb6c03;
}
.gud span{
	display: inline-block;
	border:5px #fff solid;
	width:10px;
	height:10px;
	border-left-color: transparent;
	border-bottom-color: transparent;
	background:transparent;
	transform:rotate(-45deg);
	position:relative;
	top:-10px;
}
/*右侧固定图标内容样式end*/


/*主体内容样式*/
.img img{
	width:100%;
	margin-top:15px;
	float:left;
}
.center_banner{
	width:100%;
	height: 60px;
	background-color: #3c3d42;
	float:left;
}
.center_banner div{
	width:1200px;
	margin:0 auto;
}
.center_banner li{
	width:180px;
	height:60px;
	line-height: 60px;
	font-size:16px;
	text-align: center;
	float:left;
}
.center_banner a{
	color:#fff;
}
.center{
	width:1200px;
	height:600px;
	margin:20px auto;
}
.center_top{
	width:1200px;
	height:30px;
	line-height:30px;
	background-color: #f3eee9;
	padding-left:10px;
}
.center_top p{
	background:url(../img/rili.gif) no-repeat left center ;
	padding-left:25px;
	font-size:14px;
	color:#fb6c03;
}
.center_top span{
	margin-left:10px;
}
.center_bottom{
	width:1200px;
	height:60px;
	line-height: 60px;
	margin-top:20px;
	padding-left:30px;
	padding-right:20px;
}
.center_bottom span{
	font-size:14px;
	color:#989da2;
}
.shijian{
	display: inline-block;
	width:170px;
	height:20px;
	line-height:20px;
	border-right:1px #e3e3e3 solid;
}
.ceshi{
	display: inline-block;
	width:400px;
	height:20px;
	line-height:20px;
	padding-left:20px;
	border-right:1px #e3e3e3 solid;
}
.zhibo{
	background: url(../img/zhipo.gif) no-repeat left center;
	display: inline-block;
	width:400px;
	height:20px;
	line-height:20px;
	padding-left:20px;
	margin-left:20px;
}
.center_bottom a{
	display:inline-block;
	font-size:14px;
	color: #52b530;
	width: 90px;
    height: 30px;
    text-align:center;
    line-height:30px;
    border: 1px solid #52b530;
    border-radius: 5px;
}
.center_bottom a:hover{
	background-color: #52b530;
	color: #fff;
}


/*主体内容样式end*/


/*footer底部内容样式*/
.footer{
	min-width:1200px;
	height:300px;
	background-color:#323339;
}
.footer_up{
	height:250px;
	border-bottom:1px #65707a solid;
}
.foot_top{
	width:1200px;
	margin:0 auto;
	padding-top:30px;
}
.zuo{
	width:435px;
}
.zuo p{
	font-size:14px;
	color:#aeaeae;
	line-height:25px;
	margin:20px 0;
}
.zuo span{
	font-size:14px;
	color:#fff;
}
.foot_nav{
	margin-left:70px;
	line-height:30px;
	margin-top:50px;
}
.foot_nav p{
	font-size:14px;
	color:#fff;
}
.foot_nav a{
	font-size:13px;
	color:#aeaeae;
}
.foot_nav a:hover{
	color:#fff;
}
.koudai{
	margin-top:50px;
	line-height:40px;
}
.koudai span{
	background: url(../img/10000.png) no-repeat left center;
	padding-left:20px;
}
.koudai a{
	font-size:14px;
	color:#fff;
}
.koudai a:hover{
	text-decoration:underline;
}
.footer_down{
	width:1200px;
	margin:0 auto;
	text-align:center;
	line-height:50px;
}
.footer_down span{
	font-size:13px;
	color:#fff;
	margin-right:15px;
}
.footer_down a{
	font-size:13px;
	color:#fff;
}
.footer_down a:hover{
	text-decoration:underline;
}

